body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
}
.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
header nav {
  display: flex;
  align-items: center;
  padding-right: 40px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  font-style:normal;
}
a {
  color: black;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}
figure {
  margin-left: 0;
  margin-right: 0;
}
main {
  display: flex;
  width: 1237px;
  margin: 0 auto;
  padding-top: 116px;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.lead-story .image-content {
  background-image: url("../images/img-story-main.png");
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}
.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
figure figcaption {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.lead-story .image-content figcaption {
  font-size: 40px;
  margin-left: 20px;
}
.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.stories .text-content {
  height: 250px;
}
.story {
  display:flex;
  flex-direction: column;
  width: 300px;
}
.story p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.cat-ceo {
  background-image: url("../images/img-story-1.png");
}
.fall-cancelled {
  background-image: url("../images/img-story-2.png");
}
.pop-culture {
  background-image: url("../images/img-story-3.png");
}
.news-bites h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 41px;
}
.bite {
  display: block;
  padding: 11px 20px;
  background-color: whitesmoke;
  color: dimgray;
  border-bottom: 1px solid black;
  font-size: 12px;
  font-family: Verdana;
}
