html {
  font-size: 18px;
  font-family: Roboto, sans-serif;
}
header {
  width: 100%;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.company {
  background-color: black;
  color: white;
}
.company .container {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 0.5em;
}
.company .container img {
  height: 1.5em;
  margin: 0 1rem 0 0.5rem;
}
.compnay .container span {
  font-size: 1rem;
}
nav {
  background-color: firebrick;
  color: white;
}
nav ul {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0.75rem 0;
}
.mobile-nav {
  display: none;
}
.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25em;
}
.headline {
  position: relative;
  background-color: black;
  color: white;
  padding:2rem 3rem;
  width: 20rem;
  top: 9rem;
}
.headline h1{
  font-size: 2rem;
  margin-top: 0.25rem;
  font-weight: bold;
  text-transform: uppercase;
}
.headline h4{
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.products {
  display:flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}
.product {
  width: 30%;
}
.product figure {
  padding: 2em 0;
  background-color: white;
  border: 4px solid black;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product figure img {
  max-width: 8em;
}
.product figcaption {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}
.buisness-info {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.info {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.info .title {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
}
footer {
  background-color: black;
}
footer .container {
  padding:5rem 0;
  text-align:left;
  color: white;
}
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .compnay .container span {
    font-size: 0.9rem;
  }
  .headline h1 {
    font-size: 1.75rem;
  }
  .headline h4 {
    font-size: 0.9rem;
  }
  .product {
    width: 47%;
  }
  .product.glasses {
    display: none;
  }
  nav ul {
    display: none;
  }
  .mobile-nav {
    display: flex;
    justify-content: center;
  }
  .info {
    width: 30%;
  }
}
@media only screen and (max-width: 470px) {
  .buisness-info {
    flex-direction: column;
    align-items: center;
  }
  .info {
    width: 90%;
    margin-bottom: 0.5rem;
  }
  .products {
    justify-content: center;
  }
  .product {
    width: 90%;
  }
  .product.watches {
    display: none;
  }
  .banner {
    height: 15rem;
  }
  .headline {
    width:100%;
    top: 10rem;
    padding: 1rem;
    padding-left: 2rem;
  }
  .headline h1 {
    font-size: 1rem;
  }
  .headline h4 {
    font-size: 0.77rem;
  }
}
